<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.slu.parks.healthwatch">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.slu.parks.healthwatch.HomeActivity" />
        </activity>
        <activity
            android:name=".WaitingActivity"
            android:label="@string/title_activity_waiting"
            android:launchMode="singleInstance"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.slu.parks.healthwatch.HomeActivity" />
        </activity>
        <activity
            android:name=".RecordActivity"
            android:label="@string/title_activity_record"
            android:launchMode="singleInstance"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.slu.parks.healthwatch.HomeActivity" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleInstance"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FetchAddressIntentService"
            android:exported="false" />
    </application>

</manifest>